body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#map {
    height: 400px;
    width: 60%;
}

#device-info, #device-list {
    width: 35%;
}

#device-info, #device-list {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 0.5em 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

li:hover {
    background-color: #f0f0f0;
}
